/Teoria Master/nbproject/private/
/Teoria Master/build/
/TAD/dist/
/Graficas/nbproject/private/
/Graficas/build/
/Graficas/dist/
/PracticasLogica/nbproject/private/
/PracticasLogica/build/
/JavaLibrary1/nbproject/private/
/JavaLibrary1/build/
